html {
    scroll-behavior: smooth;
  }
body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#before_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#before_container input{
    width: 600px;
    height: 60px;
    border: 0px;
    border-radius: 50px;
    background-color: #DCDCDC;
    opacity: 0.5;
    font-size: 24px;
    margin: 30px;
    -webkit-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);

}
#before_container button{
    width: 100px;
    height: 50px;
    border: 0px;
    border-radius: 50px;
    background-color: rgba(30, 141, 255, 0.44);
    color: white;
    font-size: 18px;
    cursor: pointer;
    -webkit-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
box-shadow: 10px 1px 46px -9px rgba(0,0,0,0.75);
transition: 0.4s;
}
#before_container button:hover{
    background-color: 	#4169E1;
}
#container{
    height: 100vh;
    display: none;
    flex-direction: column;
    transition: 0.4s;
    opacity: 0;
}
#header{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 100vw;
    background-color: rgb(21, 21, 21);
    color: white;
    /* border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;  */
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 30px 62px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 30px 62px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 30px 62px 0px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    transition: 0.4s;
    padding: 90px  10px;
}
.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: black;
    margin-top: 450px;
    padding: 0px;
}
.album_cover{
    background-image: url(album_cover.png);
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-position: center;
    background-size: cover;
    margin:30px;
}

#wiki{
    margin-left: 200px;
    width: 600px;
    text-align: justify;
}
#left-panel, #right-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#simmiliar{
    display: flex;
    flex-direction: row;
}
.simmiliar-artist{
    text-align: center;
}
#left-panel .album_cover{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}